@import "./sidebar.scss";
@import "./category.scss";
@import "./videoSection.scss";
@import "./playVideo.scss";

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
}

body {
  background:#151414;
  overflow-x: hidden;
}

