.playVideo{
    height: 100vh;
    width: 100vw;
    margin-top: 12vh;
    background-color: inherit;

    .youtube-play{
        width: 65rem;
        height: 35rem;
        padding: 1rem;
        margin: 1px 1px 1px 30px;
    }

    .related-videos{
        width: 100vw - 80vw;
        margin: 15px auto;
        // padding: 0 20px;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 3px;
            height: 7px;
            /* width of the entire scrollbar */
        }
    
        &::-webkit-scrollbar-track {
            background: inherit;
            /* color of the tracking area */
            height: 10px;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: grey;
            /* color of the scroll thumb */
            border-radius: 10px;
            /* roundness of the scroll thumb */
            border: 1px solid rgb(86, 80, 80);
            ;
            /* creates padding around scroll thumb */
        }

    }
}