.video-section {
  background-color: inherit;
  width: 80vw;
  height: 100vh;
  margin-left: 16vw;
  padding: 18px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 15px;
  row-gap: 15px;
}

.grid-layout {
  margin-bottom: 15px;
  background-color: inherit;
  height: 230px;
  width: 290px;
  max-width: 400px;
}

@media screen and (max-width: 1000px) {
  .video-section {
    margin-left: auto;
    margin-right: auto;
  }

  .grid-layout {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .video-section {
    margin: 0;
    padding: 0;
    width: 100vw;
  }
  .grid-layout {
    width: 100%;
    margin: 0 auto;
  }
}
